#skills h2 {
    text-align: center;
    font-size: 2rem;
    }

    p {
        font-size: 18px;
    }
  
    .bar {
        background-color: rgb(192, 192, 192);
        width: 100%;
        margin: 0px;
        height: 20px;
    }
  
    .skill {
        background-color: #FF5252;
        color: white;
        padding: 1px 5px;
        text-align: right;
        font-size: 15px;
        height: 20px;
    }
  
    .text-center {
        text-align: center !important;
    }
    #skills1{
        background-color: white;
        margin: 2em 5em;
        color: black;
        border-radius: 18px;
        }