.header-modal {
  width: 70vw;
  max-width: 70vw;
} 
.header-education-modal{
  width: 90vw;
  max-width: 90vw;
}
.shrink img {
  transition: 1s ease;
  }
  
  .shrink img:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
  }

  .noButtonClass{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    box-sizing: unset;
  }
  
  .noButtonClass:active {
    outline: none;
    border: none;
  }
  
  .noButtonClass:focus {
    outline: 0;
  }